.check__main{
    max-width: 1920px;
    height: 90.6vh;
    // background: #000;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    .forma{
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.282);
        // border: 1px solid red;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: #FBF8EC;
        border-radius: 12px;

        h1{
            font-family: Rubik;
            font-weight: 400;
            font-size: 36px;
        }
        input{
            width: 250px;
            padding: 2px 10px;
            height: 35px;
            border-radius: 6px;
            border: 2px solid black;
            outline: none;
            font-family: Rubik;
            font-weight: 400;
            font-size: 16px;
        }
        input:focus{
            border-color: #70c05b;
        }
        button{
            width: 140px;
            height: 40px;
            border-radius: 6px;
            border: none;
            background: #70c05b;
            font-size: 16px;
            font-weight: 400;
            font-family: Rubik;
            color: #fff;
        }
    }
}