.header {
    max-width: 1920px;
    height: 340px;
    margin: 0 auto;
    position: relative;
  }
  .header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    box-shadow: 0px 2px 10px #000;
    background-color: #fff;
    position: fixed;
    z-index: 5;
    top: 0;
  }
  .header nav .nav_main {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header nav .nav_main .nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    /* border: 1px solid; */
  }
  .header nav .nav_main .nav_logo a {
    text-decoration: none;
    display: flex;
    color: black;
    column-gap: 20px;
    font-family: "Rubik", sans-serif;
  }
  .header nav .nav_main .nav_logo img {
    width: 45px;
    height: 32px;
    /* border: 1px  solid; */
    /* margin-top: 50px; */
  }
  .header nav .nav_main .nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    gap: 30px;
    position: relative;
  }
  .header nav .nav_main .nav_list .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    gap: 8px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: #70c05b;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: "Rubik", sans-serif;
  }
  .header nav .nav_main .nav_list .input_search {
    padding-left: 10px;
    width: 344px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #70c05b;
    outline: none;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
  }
  .header nav .nav_main .nav_list .nav_menu {
    display: flex;
    gap: 45px;
  }
  .header nav .nav_main .nav_list .nav_menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: "Rubik", sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    color: #414141;
  }
  .header nav .nav_main .nav_list .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  .header nav .nav_main .nav_list .profile .man {
    width: 40px;
    height: 40px;
  }
  .header nav .nav_main .nav_list .profile p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-family: "Rubik", sans-serif;
  }

  .header .header_hero {
    padding-top: 65px;
    display: flex;
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-image: url(../../public/img/gero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 140px;
  }
  .header .header_hero img {
    margin-left: 200px;
  }
  .header .header_hero h1 {
    margin-top: 60px;
    color: #414141;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }
  