@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800&display=swap");

.container {
  max-width: 1920px;
  height: 100vh;
  background: #fbf8ec;
  display: grid;
  grid-template-rows: 15% 85%;
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  .newItem {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 auto;
    width: 50%;
    height: 200%;
    background: #f8f3de;
    box-shadow: 0px 0px 8px 1px #0000007b;
    form {
      margin-top: 20px;
      margin-left: 25%;
      width: 70%;
      input {
        border-radius: 10px;
        text-transform: capitalize;
        margin-top: 20px;
        display: block;
        width: 300px;
        height: 25px;
        padding: 5px 10px;
        outline: none;
        border: 2px solid #70c05b;
        font-size: 16px;
        font-weight: 500;
      }

      button {
        margin-left: 80px;
        margin-top: 20px;
        width: 150px;
        height: 35px;
        background: #70c05b;
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        border: none;
        box-shadow: 2px 2px 2px 2px #fff;
        transition: ease-in-out 350ms;
        border-radius: 10px;
      }
      button:hover {
        cursor: pointer;
        background: #4b833c;
      }
    }
  }
  .itemList {
    // background: #f1e9c7;
    margin-top: 120px;
    width: 100%;
    height: 100vh;
    // padding: 30px 10px;
    padding-top: 10px;
    row-gap: 50px;
    // column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .item {
      margin-left: 25px;
      width: 300px;
      height: 450px;
      border-radius: 7px;
      background: #fff;
      box-shadow: 1px 2px 8px 1px #a6d899;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
      .txt {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 290px;
        height: 100%;
        h3 {
          font-size: 24px;
          color: #000000b2;
          text-transform: capitalize;
        }
        .btn_cont {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          button {
            margin: 0 auto;
            padding: 10px 15px;
            font-size: 16px;
            background: rgb(210, 230, 228);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: ease-in-out 350ms;
          }
          .buy_btn {
            color: rgb(17, 145, 5);
          }
          .buy_btn:hover {
            background: rgb(5, 138, 1);
            color: #fff;
          }
          .like_btn {
            color: rgb(255, 0, 0);
            .fa-regular {
              display: block;
            }
            .fa-regular2 {
              display: none;
            }
          }
          .like_btn:hover {
            background: rgb(255, 0, 0);
            color: #fff;
          }
          .trash_btn {
            color: rgb(0, 0, 0);
          }
          .trash_btn:hover {
            background: rgb(0, 0, 0);
            color: #ffffff;
          }
          .buy {
            
            color: rgb(29, 131, 20);
          }
          .buy:hover {
            background: rgb(29, 131, 20);
            color: #fff;
          }
        }
      }
    }
  }
}
